<div class="header mx-auto m-0 flex items-center z-10 justify-between max-w-[1640px] p-5">
    <div class="flex items-center gap-2">
        <i class="menubutton fa-solid fa-bars md:hidden inline text-xl cursor-pointer"></i>
        <a href="/">
            <h1 class="text-3xl m-0 italic font-semibold">BlogSpot.</h1>
        </a>
    </div>
    <div class="menubg hidden bg-black/80 fixed w-full h-screen z-20 top-0 left-0"></div>
    <div class="menu left-[-100%] z-20 bg-white h-screen fixed top-0 w-[300px] duration-300 p-4">
        <div class="flex justify-between items-center">
            <h1 class="text-3xl text-black italic font-semibold">BlogSpot.</h1>
            <i class="close cursor-pointer fa-solid fa-xmark text-xl"></i>
        </div>
        <ul class="flex flex-col items-center w-full justify-start mt-4">
            <li class="w-full text-center py-4 border-black border-b"><a class="w-full" href="{% url 'home' %}">Home</a>
            </li>
            <li class="w-full text-center py-4 border-black border-b"><a href="">Products</a></li>
            <li class="w-full text-center py-4 border-black border-b"><a href="">Blogs</a></li>
            <li class="w-full text-center py-4 border-black border-b"><a href="">Join</a></li>
            <li class="w-full text-center py-4 border-black border-b"><a href="">About Us</a></li>
            <li class="w-full text-center py-4"><a href="">Logout</a></li>
        </ul>
    </div>
    <ul class="md:flex gap-8 font-medium hidden">
        <!-- <li><i class="fa-solid fa-magnifying-glass"></i></li> -->
        <li><a class="hover:underline underline-offset-2" href="{% url 'home' %}">Home</a></li>
        <li><a class="hover:underline underline-offset-2" href="">Products</a></li>
        <li>
            <div class="dropdown relative">
                <div class="flex items-center cursor-pointer">
                    Blogs
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </div>
                <div class="dropdown-content left-[-50%] rounded-md border-black border">
                    <a class="p-2 text-center flex items-center gap-2" href="{% url 'my_blogs' %}">My Blogs</a>
                    <a class="p-2 text-center flex items-center gap-2" href="{% url 'saved_blogs' %}">Saved Blogs</a>
                </div>
            </div>
            <!-- <a class="flex items-center dropdown" href="#blogs">Blogs <span class="material-symbols-outlined">
                    expand_more
                </span></a> -->
        </li>
        <li><a class="hover:underline underline-offset-2" href="">Join</a></li>
        <li><a class="hover:underline underline-offset-2" href="">About Us</a></li>
    </ul>
    {% if user.is_authenticated %}
    <div class="flex items-center gap-6">
        <a href="{% url 'write' %}">
            <i class="fa-regular fa-pen-to-square"></i>
            Write
        </a>
        <div class="dropdown profile">
            <div class="flex items-center font-medium cursor-pointer">
                <span class="material-symbols-outlined text-3xl">
                    account_circle
                </span>
                <span class="material-symbols-outlined">
                    expand_more
                </span>
            </div>
            <div class="dropdown-content right-5 rounded-md border-black border">
                <a class="p-2 text-center flex items-center gap-2" href="#"><span class="material-symbols-outlined">
                        person
                    </span>{{ request.user.first_name }} {{ request.user.last_name }}</a>
                <a class="p-2 text-center flex items-center gap-2" href="{% url 'logout' %}"><span
                        class="material-symbols-outlined">
                        logout
                    </span>Logout</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="flex gap-2">
        <a class="p-2 px-3 rounded-md border-black border hover:bg-black hover:text-white" href="{% url 'login' %}">Log
            In</a>
        <a class="p-2 px-3 rounded-md text-white bg-black border-black border hover:bg-white hover:text-black"
            href="{% url 'signup' %}">Sign Up</a>
    </div>
    {% endif %}
</div>